@import "./variavel";

body {
    background-color: $cor-principal;
    color: $cor-secundaria;
    font-family: $fonte-texto;
    font-weight: $fonte-baixa;
}

.titulo {
    font-family: $fonte-titulo;
    font-weight: $fonte-media;
}

.titulo--secundario {
    color: $cor-secundaria;
    font-size: 1rem;
    font-weight: $fonte-alta;

    .secundario--alternativo {
        color: $cor-secundaria;
        font-weight: $fonte-alta;
    }
}

.texto {
    line-height: 36px;
    text-align: justify;
}

.texto--block {
    display: block;
}

.cor--destaque {
    color: $cor-destaque;    
}

.cor--elemento {
    color: $cor-elementos;
}