
//cores do projeto

$cor-fundo: #000;
$cor-fonte: #f6f6f6;

//fontes do projeto

$fonte-titulo: 'Krona One', sans-serif;
$fonte-texto: 'Montserrat', sans-serif;

$fonte-baixa: 300;
$fonte-media: 400;
$fonte-regular: 500;
$fonte-alta: 600;

