//cores do projeto

$cor-principal: #181a18;
$cor-secundaria: #ffffff;
$cor-destaque: #8A2BE2;
$cor-elementos: #0096ff;

//fontes do projeto

$fonte-titulo: 'Krona One', sans-serif;
$fonte-texto: 'Montserrat', sans-serif;

$fonte-baixa: 300;
$fonte-media: 400;
$fonte-regular: 500;
$fonte-alta: 600;

