@import "../abstract/variavel";

.apresentacao {
    display: grid;
    grid-column: 2;
    grid-row: 3;
    grid-template-columns: 1fr span;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

    &__titulo {
        font-size: 1.75rem;
        line-height: 56px;

        .titulo--destaque {
            color: $cor-destaque;
        }
    }

    &__texto {
        font-size: 1rem;
        
        .texto--destaque {
            color: $cor-destaque;
            font-weight: $fonte-regular;
        }
    }

}

