@import "../abstract/variavel";

.cabecalho {
    padding: 3% 0% 0% 10%;
    height: 10%;

    &__menu {
        color: $cor-destaque;
        font-weight: $fonte-alta;

        .menu__lista {
            display: flex;
            gap: 1rem;
        }
    }
}
