.container__flex {
    align-items: center;
    display: flex;
    font-weight: $fonte-media;
    gap: 1rem;
    justify-content: space-between;
    margin: 0 10%;
}

.container__flex--botao {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

@media screen and (max-width:  768px) {
    .container-flex {
        flex-direction: column-reverse;
    }
}